@import "tailwindcss";

@font-face {
  font-family: "ArtDeco";
  src: url("/fonts/font.otf");
}

@font-face {
  font-family: "SpecialGothic";
  src: url("/fonts/special-gothic-condensed-one-regular.ttf");
}

@theme {
  --font-sans: "ArtDeco", sans-serif;
  --font-gothic: "SpecialGothic", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FFF;
}

::-webkit-scrollbar-track {
  background: #000
}

button {
  cursor: pointer;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.arrow-down-animation {
  animation: arrow-down 1.5s ease-in-out infinite alternate;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 280px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  z-index: 99;
  cursor: pointer;
}

.swiper-button-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  z-index: 99;
  cursor: pointer;
}

.swiper-navigation-icon {
  width: 30px;
  height: 30px;
  stroke: #000;
}

.swiper-navigation-icon path {
  fill: #000;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: rgba(255, 255, 255, 0.7) !important;
}

@keyframes arrow-down {
  from {
    transform: translateY(6px) scale(0.75);
    opacity: 0.6;
  }
  to {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .swiper-navigation-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    height: 100% !important;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    height: 560px !important;
  }
}